<!DOCTYPE html>
<html lang="en" data-theme="forest">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About Me</title>
  <link href="/css/main.css" rel="stylesheet" />
</head>
<body>

  <div class="navbar bg-base-100 shadow-md justify-center">
    <div class="flex-1">
      <a class="btn btn-ghost text-xl" href="/">Climate Solutions</a>
    </div>
    <div class="flex-none gap-2">
      <ul class="menu menu-horizontal px-1">
        <li><a class="active" href="/about">About</a></li>
        <li>
          <details>
            <summary>Sector</summary>
            <ul class="p-2 bg-base-100">
              <li><a href="/solutions/projects?sector=industry">Industry</a></li>
              <li><a href="/solutions/projects?sector=transport">Transport</a></li>
              <li><a href="/solutions/projects?sector=agriculture">Agriculture</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </div>
  </div>

  <div class="container mx-auto my-8">
    <div class="hero bg-base-200 rounded-lg p-10 mb-10">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">About Me</h1>
          <p class="py-6">Hello, I'm John Richard Amparo. This is my assignment 3 for Web322.</p>
        </div>
      </div>
    </div>

    <div class="flex justify-center">
         <div class="max-w-2xl text-center">
        <h2 class="text-xl font-bold mb-4">Who Am I?</h2>
    <p class="text-base-content leading-relaxed">
         <p class="text-center text-base-content">I'm currently enrolled in CPP at Seneca Polytechnic. This is my simple web page about how we can 
            protect out planet. A simple reminder that we all have options.
            Let's all try not to litter anywhere.
            Let's all be a responsible human.
            Outside coding, I love music and late-night walk in the park.</p>
</p>
<br>
<br>
<h1 class="text-5xl font-bold mb-4">Photo Credits</h1>
<li>
    Tree planting photo: 
    <a href="https://www.vintagetreecare.com/proper-tree-planting-steps" target="_blank" class="link link-hover text-primary">Vintage Tree Care</a>
  </li>
  <li>
    Electric car photo: 
    <a href="https://www.currencytransfer.com/blog/expert-analysis/growing-demand-electric-cars-2022" target="_blank" class="link link-hover text-primary">CurrencyTransfer Blog</a>
  </li>
  <li>
    Recycling image: 
    <a href="https://phys.org/news/2022-04-recycling-goesand-earth-day.html" target="_blank" class="link link-hover text-primary">Phys.org</a>
  </li>
</ul>


      </div>
    </div>
  </div>
</body>
</html>